@import url('https://fonts.googleapis.com/css2?family=Halant:wght@700&family=Nunito+Sans:wght@300;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: #FEFAE0;
    text-align: var(--bs-body-text-align);
    background-color: var(--bs-body-bg);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;

    background: url(../img/BG.png);
    background-attachment: fixed;
}

section.index {
    height: 100vh;
}

.bg-light {
    --bs-bg-opacity: 1;
    background-color: rgba(96,108,56,1)!important;
}

.navbar-light .navbar-brand {
    color: #DDA15E;
}

.navbar-brand {
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    text-decoration: none;
    white-space: nowrap;
    font-family: 'Halant', serif;
}

.navbar-light .navbar-nav .nav-link {
    color: #FEFAE0;
}

.navbar-light .navbar-toggler-icon {
    background-image: url(../img/nav-icon.png);
}

.navbar-light .navbar-toggler {
    color: #DDA15E;
    border-color: rgba(221, 161, 94, 0.3);
}

.center-items {
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.display-1 {
    font-size: calc(3.5rem + 4.5vw);
    font-weight: 300;
    line-height: 75%;
    font-family: 'Halant', serif;

    position: absolute;
    top: 13%;
    left: 3%;
    right: 3%;
    z-index: 1000;
}

.display-1.pos {
    top: 115%;
}

.display-1.pos2 {
    top: 215%;
}

.desc {
    font-size: 1.25rem;
    position: absolute;
    top: 140%;
    left: 3%;
    right: 3%;
    z-index: 1000;
}

.text-bg {
    background-color: #606C38;
    opacity: 1;
    height: 100%;
    z-index: 999;
}

.img-pos1 {
    position: absolute;
    width: 0;
    bottom: 0;
    z-index: 999;
}

.img-pos2 {
    position: absolute;
    width: 0;
    bottom: 0;
}

.img-pos3 {
    position: absolute;
    width: 0;
    bottom: 0;
    z-index: 999;
}

.h5, h5 {
    font-family: 'Halant', serif;
    font-size: 1.25rem;
    font-weight: bold;
    text-align: center;
    color: #DDA15E;
}

.card{
    overflow: hidden;
    border: 0 !important;
    border-radius: 20px !important;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.8);
    transition: all 400ms ease-out;
	cursor: default;
}

.card-body{
    padding: 2rem;
    background: #606C38;
}  
  
.title{
    margin-bottom: 2rem;
    font-weight: bold;
}

.error-title {
    font-size: calc(3.5rem + 4.5vw);
    font-weight: 300;
    line-height: 75%;
    font-family: 'Halant', serif;
    color: #DDA15E;
}

.error-subtitle {
    font-size: calc(1rem + 0.5vw);
}

.card.art:hover{
	box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
	transform: translateY(-3%);
}

.btn-primary {
    color: #FEFAE0;
    background-color: #DDA15E;
    border-color: #DDA15E;
    border-radius: 50px;
    font-size: 130%;
    font-weight: bold;
    transition: 0.5s;
}

.btn-primary.pos {
    position: absolute;
    top: 50%;
    left: 16%;
    padding-left: 15%;
    padding-right: 15%;
    font-size: 35px;
    z-index: 1001;
    
}

.btn-primary:hover {
    background: #BC6C25;
    border-color: #BC6C25;
}

.fila {
    display: flex;
    flex-wrap: nowrap;
}

aside {
    flex: 30%;
    background-color: #606C38;
    padding: 32px;
    border-radius: 20px;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.8);
    margin: 6px;
}

section.articulo {
    flex: 70%;
    padding: 20px;
    background-color: #606C38;
    border-radius: 20px;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.8);
    margin: 6px;
}

hr {
    margin: 1rem 0;
    color: #DDA15E;
    background-color: currentColor;
    border: 0;
    opacity: 1;
}

h1 {
    z-index: 1000;
}

h1.nombre-arbol {
    font-family: 'Halant', serif;
    font-size: 56px;
    color: #DDA15E;
    justify-content: center;
    align-items: center;
}

.atributos {
    font-weight: bold; 
}

img.foto-arbol {
    width: 500px;
    height: 500px;
    object-fit: cover;
    border-radius: 20px;
    border: 2px solid #DDA15E;
}

.page-link {
    position: relative;
    display: block;
    color: #FEFAE0;
    text-decoration: none;
    background-color: #DDA15E;
    border: 1px solid #DDA15E;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: #FEFAE0;
    background-color: #BC6C25;
    border-color: #BC6C25;
}

.pagination > .active > a
{
    color: #FEFAE0;
    background-color: #BC6C25 !Important;
    border: solid 1px #BC6C25 !Important;
}

.pagination > .disabled > a
{
    color: #6c757d;
    background-color: #BC6C25 !Important;
    border: solid 1px #BC6C25 !Important;
}

.pagination > .active > a:hover
{
    background-color: #BC6C25 !Important;
    border: solid 1px #BC6C25;
}

.arrow,
.arrow:before {
  position: absolute;
  left: 50%;
}

.arrow {
  width: 30px;
  height: 30px;
  top: 90%;
  margin: -20px 0 0 -20px;
  transform: rotate(45deg);
  border-left: none;
  border-top: none;
  border-right: 2px #DDA15E solid;
  border-bottom: 2px #DDA15E solid;
  z-index: 1000;
}

.arrow.pos2 {
    top: 196%;
}

.arrow:before {
  content: "";
  width: 20px;
  height: 20px;
  top: 50%;
  margin: -10px 0 0 -10px;
  border-left: none;
  border-top: none;
  border-right: 1px #DDA15E solid;
  border-bottom: 1px #DDA15E solid;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: arrow;
}

.alert {
    position: relative;
    font-size: calc(1rem + 0.4vw);
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 20px;
    z-index: 1001;
    transition: all 0.5s ease 0s;
}

.alert-primary {
    color: #FEFAE0;
    background-color: rgba(221, 161, 94, 0.8);
    border-color: rgba(221, 161, 94, 0.8);
}

.btn-close {
    box-sizing: content-box;
    width: 1em;
    height: 1em;
    padding: .25em .25em;
    color: #FEFAE0;
    background: none;
    border: 0;
    border-radius: .25rem;
    opacity: 1;
}

.profile-pic {
    height: 40px;
    clip-path: circle();
}

.dropdown-menu {
    position: absolute;
    z-index: 1000;
    display: none;
    min-width: 10rem;
    padding: .5rem 0;
    margin: 0;
    font-size: 1rem;
    color: #FEFAE0;
    text-align: left;
    list-style: none;
    background-color: #DDA15E;
    background-clip: padding-box;
    border: 1px solid #DDA15E;
    border-radius: .25rem;
}

.dropdown-item:hover {
    background: #BC6C25;
    color: #FEFAE0;
 }

a.dropdown-item {
    color: #FEFAE0;
}

.vertical-center {
    min-height: 130%;
    display: flex;
    align-items: center;
    background-color: #606C38;
}

.container {
    z-index: 1000;
}

.our-team {
    padding: 20px 15px 30px;
    background: #606C38;
    border-radius: 40px;
    text-align: center;
    transition: all 0.5s ease 0s;
}

.our-team .pic {
    display: inline-block;
    width: 70%;
    height: 70%;
    background: #606C38;
    padding: 10px;
    margin-bottom: 25px;
    transition: all 0.5s ease 0s;
}

.our-team:hover .pic {
    background: #DDA15E;
    border-radius: 50%;
}

.pic img {
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.our-team .title {
    font-family: 'Halant', serif;
    font-size: 30px;
    font-weight: 300;
    display: block;
    color: #DDA15E;
    margin: 0 0 7px 0;
}

.our-team .post {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 15px;
    display: block;
    color: #FEFAE0;
    margin-bottom: 15px;
}
.our-team .social {
    padding: 0;
    margin: 0;
    list-style: none;
}

.our-team .social li {
    display: inline-block;
    margin-right: 5px;
}

.our-team .social li a {
    display: block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    font-size: 15px;
    color: #DDA15E;
    border: 1px solid #DDA15E;
    transition: all 0.5s ease 0s;
}

.our-team:hover .social li a {
    background: #DDA15E;
    color: #BC6C25;
}

.contenido-perfil {
    display: flex;
    flex-wrap: wrap;
}

.img-perfil {
    position: relative;
    height: 270px;
    border: 3px solid #DDA15E;
    border-radius: 40px;
}

@media only screen and (max-width: 990px) {
    .our-team{ margin-bottom: 30px; }
}

@keyframes arrow {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(-10px, -10px);
  }
}

@media (min-width: 1200px){
    .display-1 {
        line-height: 75%;
        font-family: 'Halant', serif;
        width: 50%; 
        z-index: 1000;
    }
    .text-bg {
        height: 0;
    }
    .img-pos1 {
        width: 100%;
        z-index: 999;
    }
    .img-pos2 {
        width: 100%;
        top: 100%;
        z-index: 999;
    }
    .img-pos3 {
        position: absolute;
        width: 100%;
        top: 75%;
        z-index: 999;
    }
    .btn-primary.pos {
        position: absolute;
        left: 65%;
        top: 45%;
        padding-left: 5%;
        padding-right: 5%;
        font-size: 65px;
        z-index: 1001;
    }
}

@media screen and (max-width: 700px) {
    .fila {
        flex-direction: column;
    }
    aside, section {
        box-shadow: none;
    }
    .desc {
        font-size: 1rem;
        top: 130%;
        left: 3%;
        right: 3%;
        z-index: 1000;
    }
    section.index-info {
        height: 132vh;
    }
    .arrow.pos2 {
        top: 220%;
    }
    .display-1.pos2 {
        top: 230%;
    }
}