<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="/img/Oak Tree.png" />
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <!-- CSS -->
    <link rel="stylesheet" href="/css/Styles.css" />
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Halant:wght@700&family=Nunito+Sans:wght@300;700&display=swap" rel="stylesheet" />
    <!-- Awesome Icons -->
    <script src="https://kit.fontawesome.com/df20a26306.js" crossorigin="anonymous"></script>
    <title>Ajustes</title>
  </head>
  <body>
    <!-- Navbar template -->
    <nav th:replace="/plantillas/navbar :: navbar"></nav>
    <!-- Tab de ajustes -->
    <div class="d-flex align-items-center min-vh-100">
      <div class="container">

          
          <div th:if="${error}" class="alert alert-primary alert-dismissible fade show ms-auto float-end" role="alert">
              <strong>Error</strong>
              <p th:text="${error}"></p>
              <button type="button" class="btn-close fas fa-times" data-bs-dismiss="alert" aria-label="Close"></button>
          </div> 

          
          
          
        <div class="contenedor-ajustes">
          <ul class="nav nav-pills nav-justified">
            <li class="nav-item">
              <a data-tab-target="#mod-contraseña" class="nav-link active" aria-current="page" href="#">Modificar contraseña</a>
            </li>
            <li class="nav-item">
              <a data-tab-target="#mod-mail" class="nav-link" href="#">Modificar mail</a>
            </li>
            <li class="nav-item">
              <a data-tab-target="#mod-perfil" class="nav-link" href="#">Modificar perfil</a>
            </li>
          </ul>

          <form th:action="@{/cambiar-clave}" id="mod-contraseña" data-tab-content class="active">
            <h4 class="title text-center mt-4">Modificar contraseña</h4>
            <div class="form-input">
              <input type="password" th:name="password" id="contrasenha" placeholder="Antigua contraseña" required />
            </div>
            <div class="form-input">
              <input type="password" th:name="newPassword" id="contrasenha" placeholder="Nueva contraseña" required />
            </div>
            <div class="mb-3 text-center">
              <button type="submit" class="btn btn-block text-uppercase">Confirmar</button>
            </div>
          </form>

          <form th:action="@{/cambiar-mail}" id="mod-mail" data-tab-content>
            <h4 class="title text-center mt-4">Modificar mail</h4>
            <div class="form-input">
              <input type="email" th:name="nuevoMail" placeholder="Nuevo mail" tabindex="10" required />
            </div>
            <div class="mb-3 text-center">
              <button type="submit" class="btn btn-block text-uppercase">Confirmar</button>
            </div>
          </form>

          <div id="mod-perfil" data-tab-content>
            <h4 class="title text-center mt-4">Modificar perfil</h4>
            <div class="form-input">
              <input type="text" name="nombreUsuario" id="nombreUsuario" placeholder="Nuevo nombre de usuario" />
            </div>
            <div class="form-input">
                <input type="text" name="edadUsuario" id="edadUsuario"  placeholder="Nueva edad de usuario" />
            </div>
            <div class="form-input">
                <input type="text" name="zonaUsuario" id="zonaUsuario"  placeholder="Nueva zona de usuario" />
            </div>
            <div class="form-input">
                <input type="text" name="descUsuario" id="descUsuario"  placeholder="Nueva descripción de usuario" />
            </div>
            <div class="form-input">
                <input type="text" name="avatarUsuario" id="avatarUsuario"  placeholder="Nuevo avatar de usuario (url)" />
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-block text-uppercase">Confirmar</button>
              </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Bootstrap JS -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
    <script>
      const tabs = document.querySelectorAll("[data-tab-target]");
      const tabContents = document.querySelectorAll("[data-tab-content]");

      tabs.forEach((tab) => {
        tab.addEventListener("click", () => {
          const target = document.querySelector(tab.dataset.tabTarget);
          tabContents.forEach((tabContent) => {
            tabContent.classList.remove("active");
          });
          tabs.forEach((tab) => {
            tab.classList.remove("active");
          });
          tab.classList.add("active");
          target.classList.add("active");
        });
      });
    </script>
  </body>
</html>
