<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="/img/Oak Tree.png" />
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <!-- CSS -->
    <link rel="stylesheet" href="/css/Styles.css" />
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Halant:wght@700&family=Nunito+Sans:wght@300;700&display=swap" rel="stylesheet" />
    <title>Crear un artículo</title>
    <style></style>
  </head>
  <body>
    <!-- Navbar template -->
    <nav th:replace="/plantillas/navbar :: navbar"></nav>
    <!-- Formulario para crear el artículo -->
    <div class="d-flex align-items-center min-vh-100">
      <div class="container">
        <div class="row px-3">
          <div class="col-lg-10 col-xl-9 card flex-row mx-auto px-0">
            <div class="img-left2 d-none d-md-flex"></div>
            <div class="card-body">
              <div th:if="${error != null}" class="alert alert-primary alert-dismissible fade show alert-center" role="alert">
                <strong>Ha ocurrido un error! </strong>
                <p th:text="${error}">Hola</p>
                <button type="button" class="btn-close fas fa-times" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
              <h4 class="title text-center mt-4">Crear artículo</h4>
              <form class="form-box px-3" th:action="@{/crear-articulo}" th:object="${articulo}" method="POST">
                <div class="form-input">
                  <input type="text" name="nombre" id="nombre" th:field="*{arbol.nombre}" placeholder="Nombre del arbol" tabindex="10" required />
                </div>
                <div class="form-input">
                  <input
                    type="text"
                    name="nombreCientifico"
                    id="nombreCientifico"
                    th:field="*{arbol.nombreCientifico}"
                    placeholder="Nombre cientifico del arbol"
                    required
                  />
                </div>
                <div class="form-input">
                  <input type="text" name="tipoArbol" id="tipoArbol" th:field="*{arbol.tipoArbol.nombre}" placeholder="Tipo de arbol" required />
                </div>
                <div class="form-input">
                  <input type="text" name="origen" id="origen" th:field="*{arbol.origen}" placeholder="Origen del arbol" required />
                </div>
                <div class="form-input">
                  <input type="number" name="tamanho" id="tamanho" th:field="*{arbol.tamanho}" placeholder="Tamaño en metros" required />
                </div>
                <div class="form-input">
                  <input type="text" name="foto" id="foto" th:field="*{url_imagen}" placeholder="Url de la imagen del arbol" />
                </div>
                <div class="form-input">
                  <textarea name="info" id="info" th:field="*{arbol.informacion}" placeholder="Descripción" required></textarea>
                </div>
                <div class="mb-3 text-center">
                  <button type="submit" class="btn btn-block text-uppercase">Crear artículo</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap JS -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
