<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="/img/Oak Tree.png" />
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <!-- CSS -->
    <link rel="stylesheet" href="/css/styles.css" />
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Halant:wght@700&family=Nunito+Sans:wght@300;700&display=swap" rel="stylesheet" />
    <title>Perfil</title>
  </head>
  <body>
    <!-- Navbar template -->
    <nav th:replace="/plantillas/navbar :: navbar"></nav>
    <!-- Perfil -->
    <div class="d-flex align-items-center min-vh-100">
      <div class="container">
        <div class="contenido-perfil">
          <h1 class="nombre-perfil" th:text="${usuario.mail}"></h1>
          <img class="img-perfil" th:src="${avatar}" alt="" />
          <div class="descripcion-perfil">
              Bienvenido a tu perfil, aqui podrás ver todos los articulos que hayas creado.<br>
<!--             <p th:if="${perfil.informacion != null}" th:text="${perfil.informacion}"></p>-->
          </div>
          <div class="info-perfil">
              <!-- <h1 class="titulo">Informacion personal</h1> -->
<!--            <p th:if="${perfil.nombre == null}"><span class="atributos">Nombre: </span>Sin especificar</p>-->
            <span class="atributos">Nombre: </span><p th:if="${perfil.nombre != null}" th:text="${perfil.nombre}"></p>
<!--            <p th:if="${perfil.telefono == null}"><span class="atributos">Telefono: </span>Sin especificar</p>-->
            <span class="atributos">Contacto: </span><p th:if="${perfil.telefono != null}" th:text="${perfil.telefono}"> </p>           
<!--            <p th:if="${perfil.zona == null}"><span class="atributos">Zona: </span>Sin especificar</p>-->
            <span class="atributos">Zona: </span><p th:if="${perfil.zona != null}" th:text="${perfil.zona}"> </p>
            <a th:href="@{/configurar-perfil}" style="text-decoration: none;"><button type="button" class="btn btn-art btn-perfil">Editar</button></a>
          </div>
          
          <div class="articulos-perfil">
            <h1 class="nombre-perfil">Articulos del usuario (<span th:text="${cant}"></span>):</h1>
            <h1 th:if="${articulos == null || articulos.size() == 0}">No hay articulos creados</h1>
            <div th:if="${articulos != null || articulos.size() != 0}" class="contenedor-tabla">
              <table class="table table-borderless">
                <tbody th:each=" articulo, iterador : ${articulos}">
                  <tr>
                    <th scope="row" th:text="${iterador.index}+1">1</th>
                    <td th:text="${articulo.arbol.nombre}">Nombre del arbol</td>
                    <td><a th:href="@{/mostrar}+'?id='+${articulo.idArticulo}" style="text-decoration: none;"><button type="button" class="btn btn-art">Visitar</button></a></td> 
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap JS -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
