<h3>Información General</h3>
<b>Arbolando Rosario</b> te informa sobre su Política de Privacidad respecto del tratamiento y protección de los datos de
carácter personal de los usuarios y clientes que puedan ser recabados por la navegación o contratación de servicios a través
del sitio Arbolando Rosario.

En este sentido, </b>Arbolando Rosario</b> garantiza el cumplimiento de la normativa vigente en materia de protección de datos
personales, reflejada en la Ley 25.326, de Protección de Datos Personales.

El uso de sitio Web implica la aceptación de esta Política de Privacidad así como las condiciones incluidas en el Aviso Legal.


Cuando te conectas al sitio Web para mandar un correo al Titular, te suscribes a su boletín o realizas una contratación, estás facilitando información de carácter personal de la que el responsable es el Titular. Esta información puede incluir datos de carácter personal como pueden ser tu dirección IP, nombre y apellidos, dirección física, dirección de correo electrónico, número de teléfono, y otra información. Al facilitar esta información, das tu consentimiento para que tu información sea recopilada, utilizada, gestionada y almacenada por superadmin.es , sólo como se describe en el Aviso Legal y en la presente Política de Privacidad.

Los datos personales y la finalidad del tratamiento por parte de los administradores del sitio es sólo con el fin de participar dentro de nuestros foros.
<br>
<h4>Seguridad de los datos personales</h4>
Para proteger tus datos personales, el Titular toma todas las precauciones razonables y sigue las mejores prácticas de la
industria para evitar su pérdida, mal uso, acceso indebido, divulgación, alteración o destrucción de los mismos.
El sitio Web está alojado en Servidores Arbolito SA. La seguridad de tus datos está garantizada, ya que toman todas las medidas de seguridad necesarias para ello. Puedes consultar su política de privacidad para tener más información.
<br>
<h4>Política de Cookies</h4>
Para que este sitio Web funcione correctamente necesita utilizar cookies, que es una información que se almacena 
en tu navegador web.
<br>
<h4>Conservación de datos personales</h4>
Los datos personales que proporciones a <b>Arbolando Rosario</b> se conservarán hasta que solicites su supresión.
<br>
<h4>Aceptación y consentimiento</h4>
Como Usuario del sitio Web declaras haber sido informado de las condiciones sobre protección de datos de carácter 
personal, aceptas y consientes el tratamiento de los mismos por parte de el Titular en la forma y para las finalidades
indicadas en esta Política de Privacidad.
<br>
<h4>Cambios en la Política de Privacidad</h4>
El Titular se reserva el derecho a modificar la presente Política de Privacidad para adaptarla a novedades legislativas o jurisprudenciales, así como a prácticas de la industria.
<br>
Estas políticas estarán vigentes hasta que sean modificadas por otras debidamente publicadas.