<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="/img/Oak Tree.png" />
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <!-- CSS -->
    <link rel="stylesheet" href="/css/Styles.css" />
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Halant:wght@700&family=Nunito+Sans:wght@300;700&display=swap" rel="stylesheet" />
    <title th:text="${articulo.arbol.nombre}"></title>
  </head>
  <body>
    <!-- Navbar template -->
    <nav th:replace="/plantillas/navbar :: navbar"></nav>
    <div class="d-flex align-items-center min-vh-100">
      <div class="container">
        <div class="contenido-articulo">
          <h1 class="nombre-perfil" th:text="${articulo.arbol.nombre}"></h1>
          <img class="img-articulo" th:src="@{articulo.url_imagen}" alt="" />
          <div class="info-articulo">
            <p><span class="atributos">Nombre: </span><span th:text="${articulo.arbol.nombre}"></span></p>
            <p><span class="atributos">Nombre científico: </span><span th:text="${articulo.arbol.nombreCientifico}"></span></p>
            <p><span class="atributos">Tipo: </span><span th:text="${articulo.arbol.tipoArbol.nombre}"></span></p>
            <p><span class="atributos">Origen: </span><span th:text="${articulo.arbol.origen}"></span></p>
            <p><span class="atributos">Tamaño: </span><span th:text="${articulo.arbol.tamanho}"></span></p>
          </div>
          <div class="descripcion-articulo" th:text="${articulo.arbol.informacion}"></div>
          <div sec:authorize="isAuthenticated()" class="text-center">
            <button type="button" class="btn btn-primary">Editar</button>
            <button type="button" class="btn btn-primary">Borrar</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap JS -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
