<html lang="es-AR" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Navbar</title>
  </head>
  <body>
    <!-- Navbar -->
    <nav
      th:fragment="navbar"
      class="nav navbar navbar-expand-lg sticky-top navbar-light bg-light"
    >
      <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">Arbolando Rosario</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" th:href="@{/explorar}">Explorar</a>
            </li>
            <li sec:authorize="!isAuthenticated()" class="nav-item">
              <a class="nav-link" th:href="@{/login}">Iniciar Sesión</a>
            </li>
            <li sec:authorize="!isAuthenticated()" class="nav-item">
              <a class="nav-link" th:href="@{/registro}">Registrarse</a>
            </li>
            <li sec:authorize="isAuthenticated()" class="nav-item">
              <div class="dropdown">
                <img th:src="${avatar}" class="dropdown-toggle profile-pic" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" alt="">
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
                  <!-- idea: que aca se muestre el nombre de usuario y lo separe de los botones con un <hr> -->
                  <li><a class="dropdown-item" th:href="@{/perfil}">Perfil</a></li>
                  <li><a class="dropdown-item" href="#">Ajustes</a></li>
                  <li><a class="dropdown-item" th:href="@{/crear-articulo}">Crear artículo</a></li>
                  <li><a class="dropdown-item" th:href="@{/logout}">Cerrar sesión</a></li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </body>
</html>
